@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Bigilla;
  font-weight: 700;
  src: url("/fonts/Bigilla-Bold.woff") format("woff");
}
@font-face {
  font-family: Messina;
  src: url("/fonts/MessinaSans-Regular.woff") format("woff");
}
@font-face {
  font-family: Messina;
  font-weight: 500;
  src: url("/fonts/MessinaSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: Messina;
  font-weight: 700;
  src: url("/fonts/MessinaSans-Bold.woff") format("woff");
}

html {
  background: linear-gradient(
    91.1deg,
    #202020 13.61%,
    rgba(30, 30, 30, 0.866182) 280.44%,
    rgba(28, 28, 28, 0.743754) 304.7%,
    rgba(24, 24, 24, 0) 304.73%,
    rgba(24, 24, 24, 0.46) 320.32%
  );
  color: white;
  color-scheme: dark;
}

h1,
p.messina,
a {
  font-family: Messina !important;
}

a {
  font-weight: 500;
}
