@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Messina;
  src: url("/fonts/MessinaSans-Regular.woff") format("woff");
}
@font-face {
  font-family: Messina;
  font-weight: 500;
  src: url("/fonts/MessinaSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: Messina;
  font-weight: 700;
  src: url("/fonts/MessinaSans-Bold.woff") format("woff");
}

html {
  background: theme("colors.background");
  color: white;
  color-scheme: dark;
}

article > p {
  color: theme("colors.gray.300");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

h1 {
  @apply text-4xl;
  color: theme("colors.white") !important;
}

h2 {
  @apply text-3xl;
}

code {
  @apply text-sm p-[0.125rem] rounded border border-neutral-800 text-neutral-100 bg-[#333];
}

pre {
  @apply rounded-xl border border-neutral-800 p-4 my-8 text-sm overflow-y-auto;
}

pre > code {
  all: unset;
}

h1,
h2,
p:not(.font-serif):not(.font-mono),
a {
  font-family: Messina !important;
}

a {
  font-weight: 500;
}

a:not(.no-underline) {
  text-decoration: underline;
}

.signature {
  stroke-dashoffset: 1445;
  stroke-dasharray: 1445;
}

.signature-animation {
  animation: sign 3s ease;
  animation-fill-mode: forwards;
  animation-delay: 250ms;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

.hover-list:hover > * > a {
  opacity: 0.25 !important;
}
.hover-list > * > a:hover {
  opacity: 1 !important;
}
