---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nirjhor Nath - About">
  <div class="flex flex-col gap-6 mt-12">
    <h1 class="text-5xl font-semibold">
      About me<span class="text-red-300">.</span>
    </h1>
    <div class="w-32 h-1 bg-red-300"></div>
  </div>
</Layout>
