---
import { Nav } from "../components/nav";
import Layout from "../layouts/layout.astro";
---

<Layout title="About Me">
  <Nav slot="nav" client:visible route="/about" />
  <h1 class="text-4xl mt-6">About Me</h1>
  <p class="opacity-70 mt-2">A bit about me and a bit about this site!</p>
  <hr class="mt-4 border-dotted opacity-80" />
  <div class="mt-6 flex flex-col gap-4">
    <p>Hi, I'm Nirjhor!</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
      aspernatur error odit aliquid debitis culpa repudiandae dolorum
      voluptates, doloribus eum aperiam nisi at nulla ex omnis iste quas facere
      molestiae.
    </p>
    <h2>Colophon</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, voluptatum
      temporibus! Molestiae aperiam aliquam molestias eos est. Ducimus, omnis
      corporis!
    </p>
    <h2>Technologies</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dicta
      suscipit odio. Mollitia reiciendis corrupti odio nostrum beatae modi
      corporis magni eius eligendi. Debitis, nam vel eligendi quibusdam
      repudiandae nobis.
    </p>
    <h2>Contact</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam,
      temporibus.
    </p>
  </div>
</Layout>
<style>
  h2 {
    @apply text-2xl font-semibold;
  }
</style>
