---
import "../styles/global.css";
import "@fontsource/newsreader";
import Layout from "../layouts/layout.astro";
import { Home } from "../components/home";
---

<Layout title="Nirjhor Nath" className="h-full">
  <div class="flex flex-col justify-center h-full gap-8">
    <Home client:load />
  </div>
</Layout>
