---
import "../styles/global.css";
import "@fontsource/newsreader";
import Layout from "../layouts/layout.astro";
import { Home } from "../components/home";
import { Nav } from "../components/nav";
---

<Layout title="Nirjhor Nath" className="h-full">
  <Nav currentRoute="/" client:load />
  <div
    class="flex flex-col justify-center gap-8 absolute top-[50vh] translate-y-[-50%]"
  >
    <Home client:load />
  </div>
</Layout>
