---
---

<nav class="absolute py-4">
  <div class="flex gap-6 opacity-80">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/work">Work</a>
    <a href="/writing">Writing</a>
  </div>
</nav>
