---
export interface Props {
  absolute?: boolean;
}

const { absolute } = Astro.props as Props;
const selected = Astro.url.pathname;

const routes = [
  {
    route: "/",
    name: "Home",
  },
  {
    route: "/about",
    name: "About",
  },
  {
    route: "/work",
    name: "Work",
  },
  {
    route: "/writing",
    name: "Writing",
  },
];
---

<nav class={`pt-6 ${absolute && "absolute"}`}>
  <div class="flex gap-6 opacity-80">
    {
      routes.map(({ route, name }) => (
        <a
          href={route}
          class={selected === route ? "text-accent" : "" + "font-medium "}
        >
          {name}
        </a>
      ))
    }
  </div>
</nav>
