---
export interface Props {
  absolute?: boolean;
}

const { absolute } = Astro.props as Props;
const routes = [
  {
    route: "/",
    name: "Home",
    color: "accent",
  },
  {
    route: "/about",
    name: "About",
    color: "red-300",
  },
  {
    route: "/work",
    name: "Work",
    color: "green-300",
  },
  {
    route: "/writing",
    name: "Writing",
  },
];
---

<nav class={`pt-6 ${absolute && "absolute"}`}>
  <div class="flex gap-6 opacity-80">
    {
      routes.map(({ route, name, color }) => (
        <a href={route} class={`focus:text-${color}` + " font-medium"}>
          {name}
        </a>
      ))
    }
  </div>
</nav>
