---
import Head from "../components/head.astro";
import Layout from "./layout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
  };
}
const {
  content: { title, description, pubDate },
} = Astro.props;
---

<Layout className="w-full lg:w-full xl:w-full">
  <Head
    slot="head"
    title={title}
    description={description}
    image={`https://og.nirjhor.dev/api/generate?${new URLSearchParams({
      date: pubDate,
      title,
    }).toString()}`}
  />
  <div class="sticky top-0 left-0 h-12 apply-blur" aria-hidden="true"></div>
  <div class="pb-12 w-full">
    <div class="flex flex-col gap-2">
      <a href="/writing">Return to Writing</a>
      <h1 class="text-xl">{title}</h1>
      <p class="text-accent-300">{new Date(pubDate).toLocaleDateString()}</p>
    </div>
    <article class="pt-6 w-full flex flex-col gap-4 text-accent-200 leading-7">
      <slot />
    </article>
  </div>
  <style>
    .apply-blur {
      backdrop-filter: blur(3px);
      opacity: 0.95;
    }
  </style>
</Layout>
