---
import Layout from "./layout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
  };
}
const {
  content: { title, description, pubDate },
} = Astro.props;
---

<Layout title={title} className="w-full lg:w-full xl:w-full">
  <div class="py-12 w-full">
    <div class="flex flex-col gap-2">
      <h1>{title}</h1>
      <p class="text-accent">{new Date(pubDate).toLocaleDateString()}</p>
    </div>
    <article class="pt-6 w-full">
      <slot />
    </article>
  </div>
</Layout>
