---
import "../styles/global.css";
export interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <section
        class:list={[
          "w-11/12 md:w-8/12 lg:w-7/12 xl:w-5/12 max-w-[75rem] mx-auto relative",
          className,
        ]}
      >
        <div class="content">
          <!-- <div class="nav">
            <slot name="nav" />
          </div> -->
          <div class="nav">
            <slot name="nav" />
          </div>
          <div class="main">
            <slot />
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
