---
import "../styles/global.css";
export interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <script>
      //@ts-ignore
      import Swup from "swup";
      new Swup();
    </script>
    <title>{title}</title>
  </head>
  <body>
    <main class="h-screen transition-fade" id="swup">
      <div class="w-[50%] bg-red-200 m-auto relative">
        <slot name="nav" />
      </div>
      <section
        class:list={[
          "w-11/12 md:w-8/12 lg:w-7/12 xl:w-5/12 max-w-[75rem] m-auto",
          className,
        ]}
      >
        <span id="main">
          <slot />
        </span>
      </section>
    </main>
    <style>
      .transition-fade {
        transition: 0.4s;
        transform: translateY(0);
        opacity: 1;
      }

      html.is-animating .transition-fade {
        transform: translateY(-0.5rem);
        opacity: 0;
      }
    </style>
  </body>
</html>
