---
import "../styles/global.css";
export interface Props {
  className?: string;
}

const { className } = Astro.props as Props;
---

<html lang="en">
  <slot name="head" />
  <body>
    <main>
      <section
        class:list={[
          "w-11/12 md:w-8/12 lg:w-7/12 xl:w-5/12 max-w-[75rem] mx-auto relative",
          className,
        ]}
      >
        <slot />
      </section>
    </main>
  </body>
</html>
