---
import { Nav } from "../../components/nav";
import Layout from "../../layouts/layout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../data/blog-posts/*.md");
  return posts.map((p) => ({
    params: { slug: p.file.split("/").pop()?.split(".").shift() },
    props: { post: p },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { title, publishDate } = frontmatter;
---

<Layout title={title}>
  <Nav client:load slot="nav" />
  <div class="mt-8 pb-8">
    <div>
      <h1 class="title text-4xl">{title}</h1>
      <p class="opacity-80">
        Posted on {publishDate}
      </p>
    </div>
    <div class="mt-8 flex flex-col gap-4 text-[#f7fcff]">
      <Content />
    </div>
  </div>
</Layout>
<style>
  .title {
    font-family: Messina !important;
    font-weight: 700;
  }
</style>
