---
import { Nav } from "../../components/nav";
import Layout from "../../layouts/layout.astro";

let allPosts = await Astro.glob("../../data/blog-posts/*.md");
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<Layout title="Writing">
  <Nav slot="nav" client:visible route="/writing" />
  <h1 class="text-4xl mt-6">Writing</h1>
  <p class="opacity-70 mt-2">
    A collection of my thoughts on tech, design, development, and my life!
    Hopefully some of it is coherent.
  </p>
  <hr class="mt-4 border-dotted opacity-80" />
  <div class="mt-6 flex flex-col gap-6 mb-2">
    {
      allPosts.map((post) => {
        const href = `/writing/${post.file
          .split("/")
          .pop()
          ?.split(".")
          .shift()}`;
        return (
          <>
            <a href={href}>
              <div class="hover:bg-[#131827] px-4 py-6 rounded-lg transition-colors">
                <div class="flex items-center justify-between">
                  <h2 class="font-bold text-xl">{post.frontmatter.title}</h2>
                  <p>{post.frontmatter.publishDate}</p>
                </div>
                <p class="opacity-70 mt-2">{post.frontmatter.description}</p>
              </div>
            </a>
            {allPosts.length > 1 && <hr class="opacity-80 border-dotted" />}
          </>
        );
      })
    }
  </div>
</Layout>
